
*,::before, ::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* NAVBAR*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    color: white;
    background-color: black; 
    
}
.brand-name{
    font-size: 2rem;
    margin: 0.5rem ;
}
.navbar-links ul{
    margin:0;
    padding: 0;
    display: flex; 

}
.navbar-links li{
    /* Removes li styling */
    list-style: none;
    padding: 1rem;
}
.navbar-links li a{
    /* Remove text decoration*/
    text-decoration: none;
    color: white;
}

.navbar-links li:hover{
    background-color: rgba(255,255,255, 0.5);
}

/* hamburger menu*/
.toogle-menu{
    /* positioned absolutely to avoid messing with the flow of the elements*/
    position: absolute;
    top: 0.85rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;

}
.toogle-menu .bar{
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 3px;

}
@media (max-width: 700px){
    .brand-name{
        font-size: 1.25rem;
        margin: 0.4rem ;
    }
    .navbar-links li a{
        font-size: 0.75rem;
    }

}

@media (max-width: 500px){
    .brand-name{
        font-size: 1rem;
        margin: 0.25rem ;
    }
    .toogle-menu{
        display: flex;
    }
    .navbar{
        flex-direction: column;  
        align-items: flex-start; 

      }
    .navbar-links{
        width: 100%;
        display: none;
    }
    .navbar-links ul{
        flex-direction: column;
        width: 100%;

    }
    .navbar-links ul li{
        text-align: center;
        
    }
    .navbar-links li a {
        padding-inline: .5rem 1rem;
        font-size: 0.5rem;
    }
    /* we use javascript to implement the toggle effect of the humburger menu */
    .navbar-links.active{
        display: flex;
    }
    .toogle-menu .bar{
        height: 2px;
        border-radius: 1px;
        }
        .toogle-menu{
        /* positioned absolutely to avoid messing with the flow of the elements*/
        top: 0.5rem;
        right: 0.5rem;
        width: 15px;
        height: 10px;
    
        }
    
}


/*SLIDER*/
.slider{
	position: relative;
	width: 100%;
	text-align: center;
}
.slider img{
	width: 100%;
	max-height: 100vh;
	
}
.dimmer{
	filter: brightness(40%);

}

.slider-text{
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@media(max-width: 500px){
	.slider-text{
		font-size: .45rem;
	}
}


/*FOOTER*/
.footer{
	background-color: black;
	color: white;
	padding: 1rem;
}
.footer-container{
	display:  flex;

}

.footer-card{
	display: flex;
	flex-direction: column;
	font-size: 0.6rem;
}

.footer-card a{
	color: white;
	text-decoration: none;
}
.footer-card a:hover{
	color: rgba(30,144,255,1);
}

.footer-social{
	display: flex;
	justify-content: center;
}

.footer-social img{
	width: 2rem;
}

.footer-social img:hover{
	background-color: red;
	border-radius: 10px;
}
hr{
	background-color: white;
	width: 80%;
	height: 0.04rem;
	border: none;
	margin: auto;
	margin-top: 1rem ;
	margin-bottom: 1rem; 
}

.footer-title{
	font-size: 1rem;
}

.footer-copyright{
	font-size: 0.6rem;
	display: flex;
	justify-content: flex-end;
}

@media(max-width: 500px){
	.footer{
	background-color: black;
	color: white;
	padding: 0.5rem;
}
.footer-container{
	display:  flex;

}

.footer-card{
	font-size: 0.4rem;
}

.footer-card a:hover{
	color: rgba(30,144,255,1);
}


.footer-social img{
	width: 1rem;
}

.footer-social img:hover{
	border-radius: 5px;
}
hr{
	margin-top: 0.5rem ;
	margin-bottom: 0.5rem; 
}

.footer-title{
	font-size: 0.7rem;
}

.footer-copyright{
	font-size: 0.4rem;
	
}
}

/*TERMS AND CONDITIONS */
.terms-container{
	padding: 1rem;
	color: rgba(0,0,0,0.7);
	width: 100%;

}
.terms-title{
	width: 60%;
	margin: auto;
	text-align: center;
}
.terms-intro{
	width: 70%;
	margin: auto;
}

.tab{
	width: 80%;
	margin: auto;
}
.tab p {
	margin-left: 2rem;
}

@media(max-width: 800px){
	.terms-container{
		padding: 0.75rem;
		font-size: 0.75rem;
	}
	.tab p {
		margin-left: 1rem;
	}

}

@media(max-width: 500px){
	.terms-container{
		padding: 0.5rem;
		font-size: 0.55rem;
	}
	.tab p {
		margin-left: .5rem;
	}
}

/*PACKAGES*/

.package-container{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2rem;
	color:rgba(0,0,0,0.7);

}

.package-container h2{
	margin:auto;
	padding: 1rem;
	font-size: 2rem;
	font-style: bold;

}
.card-container{
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 2rem;
	box-shadow: 1px 3px 3px 3px rgba(0,0,0,0.2);
}
.card-container a{
	text-decoration: none;
}
.card-package{
	display: flex;
	background-color: white;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.card-package img{
	align-content: flex-start;
	width: 40%;
	margin: 1rem;

}
.package-side{
	align-content: flex-end;
	margin: auto;
	text-align: center;
	width: 40%;
	margin-top: 1rem;
	margin-bottom: 2rem;
	
}
.package-side h4{
	letter-spacing: 2px;
	padding: 1rem;
	background-color: yellow;

}
.package-side p{
	max-height: 300px;
	word-wrap: auto;
	overflow: hidden;
	letter-spacing: 1px;
	text-align:left;
}
.package-link{
	width: 12%;
	padding: 1rem;
	text-align: center;
	background-image: linear-gradient( to right, rgba(13,206,235,.6), rgba(255,0,0,.6));
	border-radius: 5px;
	/*background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));*/
	color: white;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}


@media(max-width: 800px){
	.package-container{
	padding: 1rem;
	}
	.package-container h2{
	padding: 0.5rem;
	font-size: 1rem;

	}
	.card-container{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border-radius: 1rem;
	border-radius: 1rem;
	}
	.card-package{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border-radius: 1rem;
	}
	.card-package img{
	margin: 0.5rem;

	}
	.package-side{
	margin-top: 0.5rem;
	margin-bottom: 1rem;	
	}
	.package-side h4{
	letter-spacing: 1px;
	padding: 0.5rem;
	font-size: 1rem;

	}
	.package-side p{
	max-height: 250px;
	letter-spacing: 1px;
	font-size: 1rem;
	}
	.package-link{
	padding: .75rem;
	border-radius: 3px;
	margin-top: .75rem;
	margin-bottom: .75rem;
	font-size: .75rem;
}
}
@media(max-width:500px){
	.package-container{
	padding: 0.5rem;
	}
	.package-container h2{
	padding: 0.25rem;
	font-size: 0.5rem;

	}
	.card-container{
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	border-radius: .5rem;
	box-shadow: 1px 3px 3px 3px rgba(0,0,0,0.2);
}
	.card-package{
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	border-radius: 0.5rem;
	}
	.card-package img{
	margin: 0.25rem;

	}
	.package-side{
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;	
	}
	.package-side h4{
	letter-spacing: 0.5px;
	padding: 0.25rem;
	font-size: 0.5rem;

	}
	.package-side p{
	max-height: 200px;
	letter-spacing: 0.5px;
	font-size: 0.5rem;
	}
	.package-link{
	padding: .5rem;
	border-radius: 3px;
	margin-top: .5rem;
	margin-bottom: .5rem;
	font-size: .5rem;
}
}

.package-link:hover{
	width: 12%;
	background-image: linear-gradient( to right, rgba(13,206,235,1), rgba(255,0,0,1));
	font-weight: bold;
}