<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="{{ url_for('static',filename='js/main.js') }}" defer></script>
    <title>Document</title>
</head>

<body>
    <!--Navbar-->
    <div class="navbar">
        <div class="brand-name">Sensual Massage</div>
        <a href="#" class="toogle-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="#">Packages</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
    </div>
{% block content %}
{% endblock %}
    <!--Footer-->
    <div class="footer">
        <div class="footer-container">
            <div class="footer-card">
                <h3 class="footer-title">Personal</h3>
                <a href="#">Pricing</a>
                <a href="#">Privacy & safety</a>
                <a href="#">Gifts</a>
                <a href="{{url_for('terms')}}">Terms & Conditions</a>
   
            </div>
        </div>
        <div class="footer-social">
           <a href="#"><img src="{{url_for('static', filename='icons/facebook.png')}}"></a>
           <a href="#"><img src="{{url_for('static', filename='icons/twitter.png')}}"></a>
           <a href="#"><img src="{{url_for('static', filename='icons/youtube.png')}}"></a>
           <a href="#"><img src="{{url_for('static', filename='icons/linkedin.png')}}"></a>
           <a href="#"><img src="{{url_for('static', filename='icons/instagram.png')}}"></a>
            
        </div>
        <hr>
        <div class="footer-copyright">Copyright 2020, Sensual Massage, Inc</div>
      </div>

    
</body>
</html>