{% extends "base.html" %}
{% block content %}



<div style="text-align: center; color: rgba(0,0,0,0.3);
padding: 4rem; margin: 2rem;">
		<h1>{{current_user.firstname}} {{current_user.lastname}}'s Profile</h1>
</div>

<!--FLASH MESSAGE -->

{% with messages = get_flashed_messages() %}
	{% for message in messages %}
		<p style="color: rgba(10,20,240, 0.7); text-align: center; margin: 1rem;">{{message}}</p>
	{% endfor %}
{% endwith %}


<div style="background-color: black; color: gray; margin-bottom: 2rem;">
	<img src="{{image}}">
	<p>Email: {{current_user.email}}</p>
	<p>Phone Number: {{current_user.phone_number}}</p>
</div>

<!-- Update Form-->
<div>
	<h3 style="color: rgba(0,0,0,0.3);
margin: 2rem;">Edit Profile</h3>
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.firstname.label }}<br>
            {{ form.firstname(size=32) }}<br>
            {% for error in form.firstname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p>
            {{ form.lastname.label }}<br>
            {{ form.lastname(size=32) }}<br>
            {% for error in form.lastname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p>
            {{ form.phone_number.label }}<br>
            {{ form.phone_number(size=32) }}<br>
            {% for error in form.phone_number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor%}

         </p>
         <p>
            {{ form.picture.label }}<br>
            {{ form.picture() }}<br>
            {% for error in form.phone_number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>


        <p>{{ form.submit() }}</p>

    </form>
</div>

<h1 style="text-align: center; color: rgba(0,0,0,0.3);
        padding: 4rem; margin: 2rem;">Massage Subscriptions</h1>

{% if posts %}
	{% for post in posts %}
					<div style="border-radius:0.5rem; text-align: center;  background-color: black;width:50%; margin:auto;padding:2rem;color: blue;
						margin-bottom: 1rem;">
						<h3>{{post.author.username}}</h3>
						<p>{{post.body}}</p>
						<p>{{post.timestamp}}</p>
					</div>
	{% endfor %}
{% endif %}
</div>

{% endblock %}