{% extends 'base.html' %}
{% block content %}
<main>
    <header class="row tm-welcome-section">
        <h2 class="col-12 text-center tm-section-title">Sports Massage</h2>
        <p class="col-12 ">This Swedish massage therapy is a very popular type of massage  therapt. 
            It involves soft, long, kneading strokes, as well as light, rhythmic, tapping strokes, on topmost layers of muscles. 
            This is also combined with movement of the joints. By relieving muscle tension, Swedish therapy can be both relaxing and energizing. 
            And it may even help after an injury.</p>
    </header>

    <div class="tm-container-inner tm-featured-image">
        <div class="row">
            <div class="col-12">
                <div class="placeholder-2">
                    <div class="parallax-window-2" data-parallax="scroll" data-image-src="{{url_for( 'static', filename='img/about-05.jpg')}}"></div>		
                </div>
            </div>
        </div>
    </div>
    <div class="tm-container-inner tm-features">
        <div class="row">
            <div class="col-lg-4">
                <div class="tm-feature">
                    <i class="fas fa-4x fa-pepper-hot tm-feature-icon"></i>
                    <h4 class="tm-history-title">Effleurage</h4>
                    <p class="tm-feature-description">Effleurage is a massage technique that encourages relaxation, blood circulation and lymph flow. Effleurage increases circulation by increasing the temperature of muscles and preparing them for more vigorous massage techniques. Effleurage also stimulates the lymphatic system.</p>
                    <a href="index.html" class="tm-btn tm-btn-primary">Read More</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tm-feature">
                    <i class="fas fa-4x fa-seedling tm-feature-icon"></i>
                    <h4 class="tm-history-title">Petrissage</h4>
                    <p class="tm-feature-description">Petrissage helps by increase fresh blood to the muscles and soft tissues. When petrissage massage is performed it stimulates the skin surface and encourages a vascular and lymphatic response. Petrissage also uses kneading and squeezing into deeper muscle to stretch and loosen muscle fibres.</p>
                    <a href="index.html" class="tm-btn tm-btn-success">Read More</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tm-feature">
                    <i class="fas fa-4x fa-cocktail tm-feature-icon"></i>
                    <h4 class="tm-history-title">Compression</h4>
                    <p class="tm-feature-description">Compression is an effective massage technique performed by laying hands over a muscle area and pushing down onto the tissues. It utilizes controlled pressure to increase blood flow in your legs and improve blood flow to the heart. At the same time, it supports your veins and decreases swelling.</p>
                    <a href="index.html" class="tm-btn tm-btn-danger">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-container-inner tm-history">
        <div class="row">
            <div class="col-12">
                <div class="tm-history-inner">
                    <img src="{{url_for( 'static', filename='img/about-06.jpg')}}" alt="Image" class="img-fluid tm-history-img" />
                    <div class="tm-history-text"> 
                        <h4 class="tm-history-title">Overview</h4>
                        <p class="tm-mb-p">Developed to help with muscle systems used for a particular sport, sports massage uses a variety of approaches to help athletes in training -- before, 
                            during, or after sports events. You might use it to promote flexibility and help prevent injuries. Or, it may help muscle strains, aiding healing after a sports injury.</p>
                    </div>
                </div>	
            </div>
        </div>
    </div>
    <!-- CONTACT -->
    <br>
    <div class="page-section" id="contact">
        <div class="tab">
            <div class="col-md-12">
                <h4 class="tm-history-title">Book a massage with Zawadi</h4>
                <p class="tm-mb-45">Booking a massage is easy with Zawadi. Fill out the form below and a Zawadi agent will contact you shortly. Usually a Sports Massage will last for 60–90 minutes. </p>
            </div>
        </div>
        <div class="content-section">
            <form method="POST" action="" class="form-gallery">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="legend">Massage Form</legend>
                    <div class="form-group">
                        <!--
                        {{ form.massage.label(class="form-control-label") }}
                        -->
        
                        {% if form.massage.errors %}
                            {{ form.massage(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.massage.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.massage(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <!--
                        {{ form.scheduled_on.label(class="form-control-label") }}
                        -->
        
                        {% if form.scheduled_on.errors %}
                            {{ form.scheduled_on(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.scheduled_on.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.scheduled_on(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    
                    
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="gallery-submit") }}
                </div>
                <div class="form-group">
                    <small class="text-muted">
                        By booking, you have accepted Zawadi <a href="{{ url_for('terms') }}">Terms and Conditions</a>
                    </small>
                </div>
    
            </form>
</main>
{% endblock %}


