{% extends 'base.html' %}
{% block content %}

<div class="terms-container">
    <br><br>
    <h2 class="terms-title">Sensual Massage Terms of Service</h2>
    <br><br>
    <div class="terms-intro">
        THESE TERMS OF USE (THESE "TERMS") ESTABLISH THE TERMS AND CONDITIONS THAT APPLY TO YOU WHEN 
        YOU USE THE SERVICE (AS DEFINED BELOW). BY USING THE SERVICE, YOU INDICATE YOUR ACCEPTANCE OF 
        THESE TERMS AND YOUR AGREEMENT TO BE BOUND BY THESE TERMS, AS WELL AS ALL APPLICABLE LAWS AND 
        REGULATIONS. YOU ARE NOT PERMITTED TO USE THE SERVICE IF YOU DO NOT AGREE TO THESE TERMS. THESE 
        TERMS CAN BE CHANGED, MODIFIED, SUPPLEMENTED, AND/OR UPDATED BY SENSUAL MASSAGE, INC. ("SENSUAL MASSAGE," 
        "WE," "OUR," OR "US") AT ANY TIME; PROVIDED THAT WE WILL ENDEAVOR TO PROVIDE YOU WITH PRIOR NOTICE OF ANY 
        MATERIAL CHANGES. YOUR CONTINUED USE OF THE SERVICE AFTER THE MODIFICATION OF THESE TERMS MEANS THAT YOU 
        ACCEPT ALL SUCH CHANGES. ACCORDINGLY, YOU ARE ADVISED TO CONSULT THESE TERMS EACH TIME YOU ACCESS THE 
        SERVICE IN ORDER TO VIEW ANY CHANGES TO THESE TERMS. THESE TERMS WERE LAST MODIFIED AS OF THE DATE 
        INDICATED ABOVE.
    </div>

    <br>
    <div class="terms-intro"><b>
        AS FURTHER DESCRIBED BELOW, THESE TERMS REQUIRE THE USE OF ARBITRATION ON AN INDIVIDUAL BASIS TO 
        RESOLVE DISPUTES, RATHER THAN JURY TRIALS OR CLASS ACTIONS, AND ALSO LIMITS THE REMEDIES AVAILABLE 
        TO YOU IN THE EVENT OF A DISPUTE.
    </b></div>

    <br>

    <div class="terms-intro">
        As described in Section 5(g) below, Sensual Massage will not refund you for any reason if you 
        receive a Treatment (as defined below), except as determined in its sole discretion. For avoidance of 
        doubt, if you engage in conduct deemed inappropriate or unsafe by a Provider, as determined in the 
        Provider’s sole discretion, including, but not limited to, making inappropriate requests, engaging in 
        inappropriate behavior, including inappropriate touching, or the Provider perceives a threat to his/her 
        safety or well-being, and such conduct results in a Provider ending the Treatment prior to the end of 
        the allotted time, Sensual Massage will not refund you. 
    </div>
    <br>
    <br>

    <div class="tab">
        <b>1. Use of Web Site, Mobile Applications, and our Service</b>
        <br>
        <br>
        <p>
            a. The "Service" is Sensual Massages's website located at www.sensualmassage.com and mobile applications, as each may be 
            updated, relocated, or otherwise modified from time to time, including through networks, embeddable 
            widgets, downloadable software, and tablet computer applications, and all intellectual property 
            contained therein. The Service provides health and wellness professionals ("Providers") with a 
            network (the "Sensual Massage Network") through which Providers can provide Treatments (each, a "Treatment") 
            to consumers, whether in-person or virtually, meaning utilizing a video communications platform. 
            Any person who accesses and/or uses the Service to book a Treatment on his or her own behalf, or 
            on behalf of any third party, will be referred to herein as a "Sensual Massage Member". 
        </p>
        <br>
        <p>
            b. Subject to the terms and conditions of these Terms, Sensual Massage hereby grants you a limited revocable, 
            non-exclusive, non-transferable license to access and use the Service, solely in the manner intended 
            by Sensual Massage. Unless otherwise specified in writing, the Service is solely for your personal use and not 
            for resale. Sensual Massage reserves the right at all times and without notice to: (i) restrict and/or terminate 
            your access to the Service (or any portion thereof); and (ii) modify or discontinue providing the 
            Service (or any portion thereof)
        </p>
        <br>
        <p>
            c. Sensual Massages's policy with respect to the collection and use of your personally identifiable information is 
            set in our Privacy Policy. By accepting these Terms, you acknowledge your agreement with Sensual Massage's 
            Privacy Policy. 
        </p>
        <br>
    </div>
    

    <br>
    <div class="tab">
        <b>2. Registration, Accounts, Passwords and Security</b>
        <br>
        <br>
        <p>
            a. Sensual Massage Members. In order to become a Sensual Massage Member, you must complete the registration process by providing 
            Sensual Massage with current, complete and accurate information, as prompted by the applicable registration form.  
        </p>
        <br>
        <p>
            b. Providers. In order to become a Provider, you must enter into the Agreement Between Sensual Massage and Provider for Use of Sensual Massage Services 
            (the "Provider Agreement") and provide any information required by Sensual Massage in order to verify your identity and credentials or as 
            otherwise set forth in the Provider Agreement. Providers providing virtual wellness services must also sign an addendum governing 
            audiovisual usage.
        </p>
        <br>
        <p>
            c. Accuracy of Information. You acknowledge that in the event you provide any information to Sensual Massage which is untrue, inaccurate, 
            not current or incomplete, Sensual Massage may terminate these Terms and your continued access and use of the Service. 
        </p>
        <br>
        <br>
        <p>
            d. ELIGIBLITY. You represent and warrant that you are at least eighteen (18) years of age, that you have not been previously suspended 
            or removed from the Service, and that you possess the legal right and ability to enter into these Terms. THE SERVICE IS NOT FOR 
            PERSONS UNDER THE AGE OF 18 OR ANY USERS PREVIOUSLY SUSPENDED OR REMOVED FROM THE SERVICE BY Sensual Massage. IF YOU ARE UNDER 18 YEARS 
            OF AGE, PLEASE DO NOT USE OR ACCESS THE SERVICE AT ANY TIME OR IN ANY MANNER. 
        </p>
        <br>
        <br>
        <p>
            e. Credentials. As part of the registration process, you will be asked to select a username and password. You are entirely responsible 
            for maintaining the security and confidentiality of your account and password. You agree to notify Sensual Massage immediately of any 
            unauthorized use of your account or any other breach of security. To notify us, contact us at www.sensual.com/contact-us. 
            You are responsible for all use of the Service occurring under your user name. You are responsible for keeping your 
            password confidential and for notifying us if your password has been hacked or stolen. Sensual Massage will not be liable for 
            any loss that you may incur as a result of someone else using your password or account, either with or without 
            your knowledge. You may be held liable for any losses incurred by Sensual Massage or another party due to someone else using 
            your account or password. 
        </p>
        <br>
        
    </div>

    <br>
    <br>
    <div class="tab">
        <b>3. Medical-Related Disclaimers</b>
        <br>
        <br>
        <p>
            a. THE CONTENT AND INFORMATION MADE AVAILABLE THROUGH SERVICE, INCLUDING MATERIALS, (COLLECTIVELY, 
            THE "CONTENT") ARE PROVIDED FOR INFORMATIONAL PURPOSES ONLY. NONE OF THE CONTENT MADE AVAILABLE 
            THROUGH THE SERVICE SHOULD BE CONSTRUED AS PROFESSIONAL MEDICAL ADVICE OR CONSULTATION. THE CONTENT 
            IS NOT INTENDED TO BE A SUBSTITUTE FOR PROFESSIONAL MEDICAL ADVICE, DIAGNOSIS, OR TREATMENT. BY USING 
            THE SERVICE, YOU AGREE THAT YOU WILL NOT RELY ON THE SERVICE AS A SUBSTITUTE FOR PROFESSIONAL MEDICAL 
            ADVICE AND THAT YOU WILL ALWAYS SEEK THE ADVICE OF YOUR PHYSICIAN OR OTHER QUALIFIED HEALTH PROVIDER 
            WITH ANY QUESTIONS YOU MAY HAVE REGARDING MEDICAL MATTERS. IN NO EVENT WILL A MEDICAL 
            PROFESSIONAL/PATIENT RELATIONSHIP BE CREATED BY USING THE SERVICE.  
        </p>
        <br>
        <p>
            b. Sensual Massage DOES NOT RECOMMEND OR ENDORSE ANY SPECIFIC TESTS, PRODUCTS, PROCEDURES, OPINIONS, OR OTHER 
            INFORMATION THAT MAY BE MENTIONED ON THE SERVICE. YOU ACKNOWLEDGE AND AGREE THAT THE USE OF ANY 
            INFORMATION PROVIDED BY Sensual Massage OR OTHER VISITORS TO THE SERVICE IS SOLELY AT YOUR OWN RISK. THE 
            SERVICE MAY CONTAIN HEALTH- OR MEDICAL-RELATED MATERIALS THAT SOME MAY CONSIDER SEXUALLY EXPLICIT. 
            IF YOU FIND THESE MATERIALS OFFENSIVE, YOU MAY NOT WANT TO USE THE SERVICE.
        </p>
        <br>
        <p>
            c. THE SERVICE IS CONTINUALLY UPDATED AND Sensual Massage MAKES NO WARRANTY OF ANY KIND, IMPLIED OR EXPRESS, 
            AS TO ITS ACCURACY OR COMPLETENESS. Sensual Massage MAKES NO WARRANTY THAT THE INFORMATION AVAILABLE ON THE 
            SERVICE INCLUDES THE MOST RECENT FINDINGS. 
        </p>
        <br>
        <br>
        <p>
            d. YOU ACKNOWLEDGE THAT YOUR RELIANCE ON ANY INFORMATION PROVIDED BY THE SERVICE OR BY ANY PROVIDER 
            TO YOU IS SOLELY AT YOUR OWN RISK AND YOU ASSUME FULL RESPONSIBILITY FOR ALL RISK ASSOCIATED THEREWITH, 
            AS ALLOWABLE TO THE EXTENT OF THE LAW. THE SERVICE ARE NOT FOR MEDICAL EMERGENCIES. IF YOU THINK YOU 
            HAVE AN EMERGENCY, CALL 911 IMMEDIATELY.  
        </p>
        <br>
        <br>
        <p>
            e. ALTHOUGH Sensual Massage PROVIDES INFORMATION ABOUT VARIOUS PROVIDERS ON THE SERVICE, Sensual Massage DOES NOT RECOMMEND ANY OF THE PROVIDERS AND DOES NOT PROVIDE 
            THE SERVICES RENDERED BY SUCH PROVIDERS. Sensual Massage REQUESTS COPIES OF PROVIDERS' LICENSES, CERTIFICATIONS 
            AND OTHER BACKGROUND INFORMATION, BUT Sensual Massage DOES NOT AND CANNOT GUARANTEE THE ACCURACY OR COMPLETENESS 
            OF ANY SUCH INFORMATION-GATHERING OR THAT A PARTICULAR PROVIDER IS QUALIFIED TO PERFORM ANY GIVEN SERVICE; 
            AND IT IS SOLELY THE RESPONSIBILITY OF EACH Sensual Massage MEMBER, AND NOT Sensual Massage, TO DETERMINE WHETHER A 
            GIVEN PROVIDER IS QUALIFIED AND CAPABLE OF RENDERING SERVICES. FURTHER, Sensual Massage DOES NOT AND CANNOT 
            GUARANTEE THAT ITS IDENTITY VERIFICATION PROCESSES (WHETHER OF Sensual Massage MEMBERS OR PROVIDERS) ARE ACCURATE 
            AND, TO THE FULLEST EXTENT PERMITTED BY LAW, Sensual Massage DISCLAIMS ANY LIABILITY ARISING OUT OF A Sensual Massage'S 
            FAILURE TO ACCURATELY VERIFY THE IDENTITY OF A Sensual Massage MEMBER OR PROVIDER. YOU SHOULD EXERCISE COMMON SENSE 
            AND CAUTION TO PROTECT YOUR AND OTHERS' PERSONAL PROPERTY AND PERSONAL SAFETY. YOU AGREE THAT IT IS YOUR 
            RESPONSIBILITY TO TAKE REASONABLE PRECAUTIONS IN ALL ACTIONS AND INTERACTIONS WITH ANY THIRD PARTY YOU 
            INTERACT WITH IN OR THROUGH THE SERVICE. 
        </p>
        <br>
        
    </div>

    <br>
    <div class="tab">
        <b>4. Booking Treatments</b>
        <br>
        <br>
        <p>
            a. Treatments Booked Through the Service. Sensual Massage Members understand that Providers are highly trained, 
            certified and licensed (where applicable under relevant state law) and specialize in massage therapy, 
            personal training, assisted stretch, yoga, mindfulness, and other health and wellness techniques. 
            Sensual Massage does not tolerate any requests deemed sexual or inappropriate in nature. Users reported for 
            inappropriate behavior will be immediately removed from the Service. Sensual Massage Members agree that Treatments 
            are for therapeutic purposes only and should not be used if the person who will receive the Treatment is 
            on any medication that would be expected to weaken bone structure and/or connective tissue or lead to 
            enhanced bleeding; have edema due to chronic heart failure or kidney failure; have an inflammatory 
            condition in the acute stage; have acute phlebitis and/or deep venous thrombosis; have had an acute 
            trauma or recent surgery; are in the first trimester of pregnancy; or where Treatment is otherwise 
            contraindicated. A Sensual Massage Member who uses the Service to book a Treatment on his or her own behalf 
            should consult a physician if uncertain as to whether a Treatment is appropriate for such Sensual Massage Member, 
            and a Sensual Massage Member who uses the Service to book a Treatment on behalf of a third party should encourage 
            that third party to do the same.   
        </p>
        <br>
        <p>
            b. Prices. The fees listed on the Service are the standard fees for the listed service, which Sensual Massage may 
            change at any time in its sole discretion by so posting on the Service. In addition, fees for services 
            provided by a Provider may vary depending on a variety of factors such as length, day, time, or location 
            of appointment. The fee you are ultimately charged is the "Fee."
        </p>
        <br>
        <p>
            c. No Liability. To the fullest extent permitted by law, Sensual Massage will not have any liability 
            whatsoever for any of the services provided by Providers. Providers bear sole liability for 
            all of the services provided, including those services that are booked through the Service. 
        </p>
        <br>
        <br>
        <p>
            d. Exclusive Booking through Sensual Massage. In order to receive pre-negotiated rates with Providers, 
            Sensual Massage Members agree that once a Sensual Massage Member has made an appointment with a Provider through 
            the Sensual Massage Network, all subsequent appointments with the Provider will be made through Sensual Massage, 
            for as long as: (i) the Provider is an active participant in the Sensual Massage Network, and (ii) the 
            Sensual Massage Member continues to keep its account with Sensual Massage active and in good standingHE SERVICE 
            ARE NOT FOR MEDICAL EMERGENCIES. IF YOU THINK YOU HAVE AN EMERGENCY, CALL 911 IMMEDIATELY.  
        </p>
        <br>
        <br>
        <p>
            e. Responsibility for Payment. You will be charged the Fee following your receipt of a 
            Treatment by a Provider. You agree to pay to Sensual Massage all Fees, whether or not you dispute 
            the amount of the charge or the quality or nature of the services provided. 
            You acknowledge that Treatments obtained through the Service in all likelihood will 
            not be covered services under your benefit plan, the Medicare program, a state Medicaid 
            program, or any health insurance plan whether government-sponsored or private. 
            You acknowledge and agree that Sensual Massage will not file any claims with your insurance 
            benefit plan, the Medicare program, a state Medicaid program, or any other third 
            party medical benefits program, and that the services you receive from or through 
            Sensual Massage may not be eligible for reimbursement under such plans. You acknowledge, 
            understand and agree that when using the Service, you may be responsible for 
            standard phone, data and messaging charges from your wireless carrier. Under no 
            circumstances will Sensual Massage be responsible for any wireless email, data, phone, or text 
            messaging charges incurred by you or by a person that has access to your wireless 
            device, telephone number, or email address.  
        </p>
        <br>
        <br>
        <p>
            f. Cancellations. If you cancel before your scheduled Treatment, then Sensual Massage may charge you a 
            cancellation fee, which will be set forth in the Cancellation Policy.   
        </p>
        <br>
        <br>
        <p>
            g. Dispute Resolution. Although Sensual Massage retains the right to mediate any dispute between you and 
            a Provider, all disputes between you and such Provider must ultimately be resolved between 
            you and the Provider directly. All sales booked through the Service are final and Sensual Massage 
            provides no refunds, except as determined in Sensual Massage’s sole discretion. For avoidance of doubt, 
            Sensual Massage will not refund you for any reason if you receive a Treatment, except as determined in 
            its sole discretion. If you engage in conduct deemed inappropriate or unsafe by a Provider, 
            as determined in the Provider’s sole discretion, including, but not limited to, making 
            inappropriate requests, engaging in inappropriate touching, or the Provider perceives a 
            threat to his/her safety or well-being, and such conduct results in a Provider ending the 
            Treatment prior to the end of the allotted time, Sensual Massage will not refund you.    
        </p>
        <br>
        <br>
        <br>
        
    </div>
</div>

{% endblock %}