{% extends 'base.html' %}
{% block content %}
<main>
    <header class="row tm-welcome-section">
        <h2 class="col-12 text-center tm-section-title">Thai Massage</h2>
        <p class="col-12 ">During a Thai massage, the therapist uses their body to move the client into a variety of positions. 
            This type of massage includes compression of muscles, mobilization of joints, and acupressure.
            Thai massage is best for people who want a more active form of massage and want to reduce and relieve pain and stress.
            It can also helps improve flexibility, circulation and energy levels. </p>
    </header>
    <div class="tm-container-inner tm-featured-image">
        <div class="row">
            <div class="col-12">
                <div class="placeholder-2">
                    <div class="parallax-window-2" data-parallax="scroll" data-image-src="{{url_for( 'static', filename='img/about-05.jpg')}}"></div>		
                </div>
            </div>
        </div>
    </div>
    <div class="tm-container-inner tm-features">
        <div class="row">
            <div class="col-lg-4">
                <div class="tm-feature">
                    <i class="fas fa-4x fa-pepper-hot tm-feature-icon"></i>
                    <h4 class="tm-history-title">Effleurage</h4>
                    <p class="tm-feature-description">Effleurage is performed at the begginning of a Deep Tissue Massage. It involves a smooth gliding stroke that is designed to relax soft tissue though out the body.
                        Effleurage is a massage technique that encourages relaxation, blood circulation and lymph flow.
                    </p>
                    <a href="index.html" class="tm-btn tm-btn-primary">Read More</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tm-feature">
                    <i class="fas fa-4x fa-seedling tm-feature-icon"></i>
                    <h4 class="tm-history-title">Petrissage</h4>
                    <p class="tm-feature-description">Petrissage is a massage movement with applied pressure which is deep and compresses the underlying muscles. Kneading, wringing, skin rolling and pick-up-and-squeeze are the basic movements.
                        It increases fresh blood to the muscles and soft tissues.
                    </p>
                    <a href="index.html" class="tm-btn tm-btn-success">Read More</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tm-feature">
                    <i class="fas fa-4x fa-cocktail tm-feature-icon"></i>
                    <h4 class="tm-history-title">Tapotement</h4>
                    <p class="tm-feature-description">Tapotement describes techniques such as hacking and cupping which have their place in massage aimed towards relaxation. Hacking is a technique in which both hands alternately strike the skin with the lateral borders of the fifth finger of each hand.</p>
                    <a href="index.html" class="tm-btn tm-btn-danger">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-container-inner tm-history">
        <div class="row">
            <div class="col-12">
                <div class="tm-history-inner">
                    <img src="{{url_for( 'static', filename='img/about-06.jpg')}}" alt="Image" class="img-fluid tm-history-img" />
                    <div class="tm-history-text"> 
                        <h4 class="tm-history-title">Overview</h4>
                        <p class="tm-mb-45">Thai massage works the entire body using a sequence of movements that are similar to yogic stretching. 
                            Your therapist will use their palms and fingers to apply firm pressure to your body. 
                            You’ll also be stretched and twisted into various positions. 
                            You can wear loose, comfortable clothing during the massage. 
                            Thai massage is more active than other forms of massage, and the therapist will stretch your body in addition to providing a massage.  
                        </p>
                    </div>
                </div>	
            </div>
        </div>
    </div>
    <!-- CONTACT -->
    <br>
    <div class="page-section" id="contact">
        <div class="tab">
            <div class="col-md-12">
                <h4 class="tm-history-title text-center">Book a massage with Zawadi</h4>
                <p class="tm-mb-45">Booking a massage is easy with Zawadi. Fill out the form below and a Zawadi agent will contact you shortly. Usually a Thai Massage will last for 60–90 minutes. </p>
            </div>
        </div>
        <div class="content-section">
            <form method="POST" action="" class="form-gallery">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="legend">Massage Form</legend>
                    <div class="form-group">
                        <!--
                        {{ form.massage.label(class="form-control-label") }}
                        -->
        
                        {% if form.massage.errors %}
                            {{ form.massage(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.massage.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.massage(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <!--
                        {{ form.scheduled_on.label(class="form-control-label") }}
                        -->
        
                        {% if form.scheduled_on.errors %}
                            {{ form.scheduled_on(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.scheduled_on.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.scheduled_on(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    
                    
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="gallery-submit") }}
                </div>
                <div class="form-group">
                    <small class="text-muted">
                        By booking, you have accepted Zawadi <a href="{{ url_for('terms') }}">Terms and Conditions</a>
                    </small>
                </div>
    
            </form>
</main>
{% endblock %}


